<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <section class="container-pages">
        <div class="card pages-card col-lg-4 col-md-6 col-sm-6">
            <div class="card-body ">
                <div class="h4 text-center text-theme"><strong>Login</strong></div>
                <div class="small text-center text-dark"> Login to Account </div>
               
                    <form action="../../contents/dashboards/dashboard-sales.html" method="get" >
                        <div class="form-group">
                            <div class="input-group">
                                 <span class="input-group-addon text-theme"><i class="fa fa-user"></i> 
                                </span>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon text-theme"><i class="fa fa-asterisk"></i></span>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password">

                            </div>
                        </div>
                        <div class="form-group form-actions">
                            <button type="submit" class="btn  btn-theme login-btn ">   Login   </button>
                        </div>
                    </form>

                    <div class="text-center">
                        <small>Don't you have an account ? Please
                            <a href="pages-signup.html" class="text-theme">Signup</a>
                        </small>
                    </div>
              
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </section>
    <!-- end section container -->

         <!-- end mybutton -->
<% include ../partials/footer %>
</body>

</html>