
        <div class="sidebar" id="sidebar">
            <nav class="sidebar-nav" id="sidebar-nav-scroller">
                <ul class="nav">
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link" href="../../views/admin/request.html">
                            <i class="mdi mdi-developer-board"></i> Approval Requests
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link" href="../admin/dashboard">
                            <i class="mdi mdi-gauge"></i> Dashboard
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link" href="../../contents/dashboards/dashboard-project-management.html">
                            <i class="mdi mdi-book-open-page-variant"></i> Journal
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link" href="../../contents/dashboards/dashboard-project-management.html">
                            <i class="mdi mdi-file"></i> Upload File
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-table-large"></i> Table List
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="../../contents/apps/apps-calendar.html">Host List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../contents/apps/apps-mail.html"> Reject List</a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-settings"></i> Maintenance</a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="../../contents/layouts/sidebar-compact.html"> Animal Taxonomy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../contents/layouts/sidebar-compact-colored.html"> Bacteria Taxonomy</a>
                            </li>
                        </ul>

                    </li>

                    
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-developer-board"></i> Animal
                        </a>
                    </li>

                    
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-developer-board"></i> Bacteria
                        </a>
                    </li>

                </ul>
            </nav>

        </div>