<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

 <body>
<!-- Header area wrapper starts -->
    <header id="header-wrap">      
      <!-- Navbar Starts -->
      <nav class="navbar navbar-expand-md fixed-top scrolling-navbar nav-bg">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <img src="assets/img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>           
          </div>
          <div class="collapse navbar-collapse" id="main-menu">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item dropdown">
                    <a img
                    </a>
                  </li>
                <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="../../assets/img/logo1.png" width="145px" height="70px" style="position:absolute; left:1.5%">
                </a>
                <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="../../assets/img/logo2.png" width="240px" height="70px" style="position:absolute; left:12%">
                </a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="about-us2.html">About Us 2</a>
                  <a class="dropdown-item" href="team-page.html">Team Members</a>
                  <a class="dropdown-item" href="services.html">Services</a>
                  <a class="dropdown-item" href="service2.html">Services 2</a>
                  <a class="dropdown-item" href="contact2.html">Contact Us</a>
                  <a class="dropdown-item" href="pricing.html">Pricing</a>
                  <a class="dropdown-item" href="404.html">404</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">What are Microbiota</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="accordions.html">Accordions</a>
                  <a class="dropdown-item" href="tabs.html">Tabs</a>
                  <a class="dropdown-item" href="buttons.html">Buttons</a>
                  <a class="dropdown-item" href="skills.html">Progress Bars</a>
                  <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                  <a class="dropdown-item" href="clients.html">Clients</a>
                  <a class="dropdown-item" href="icon.html">Icon Boxes</a>
                  <a class="dropdown-item" href="team.html">Team</a>
                  <a class="dropdown-item" href="carousel.html">Carousel</a>
                  <a class="dropdown-item" href="maps.html">Google Maps</a>
                  <a class="dropdown-item" href="pricing.html">Pricing tables</a>
                  <a class="dropdown-item" href="notification.html">Notification</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">List of Microbiota</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="portfolio-col-2.html">Portfolio 2 Columns</a>
                  <a class="dropdown-item" href="portfolio-col-3.html">Portfolio 3 Columns</a>
                  <a class="dropdown-item" href="portfolio-col-4.html">Portfolio 4 Columns</a>
                  <a class="dropdown-item" href="portfolio-item.html">Portfolio Single</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Analytics</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="sidebar-right.html">Sidebar Right</a>
                  <a class="dropdown-item" href="sidebar-left.html">Sidebar Left</a>
                  <a class="dropdown-item" href="sidebar-full.html">Full Width</a>
                  <a class="dropdown-item" href="blog-single.html">Single Post</a>
                  <a class="dropdown-item" href="blog-grids.html">Blog Grids</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
              </li>
            </ul>
          </div>

          <!-- Mobile Menu Start -->
          <ul class="wpb-mobile-menu">
            <li>
              <a class="active" href="index-2.html">Home</a> 
              <ul>
                <li><a href="index-2.html">Home V1</a></li>
                <li><a class="active" href="index-2.html">Home V2</a></li>
              </ul>   
            </li>
            <li>
              <a href="#">Pages</a>
              <ul>                  
                <li><a href="about-us2.html">About Us</a></li>
                <li><a href="team-page.html">Team Members</a></li>                      
                <li><a href="services.html">Services</a></li> 
                <li><a href="service2.html">Services 2</a></li> 
                <li><a href="contact2.html">Contact Us</a></li> 
                <li><a href="pricing.html">Pricing</a></li> 
                <li><a href="404.html">404</a></li>
              </ul>                        
            </li>
            <li>
              <a href="#">Shortcodes</a>
              <ul>
                <li><a href="accordions.html">Accordions</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="skills.html">Progress Bars</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="clients.html">Clients</a></li>
                <li><a href="icon.html">Icon Boxes</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="carousel.html">Carousel</a></li>
                <li><a href="maps.html">Google Maps</a></li>
                <li><a href="pricing.html">Pricing tables</a></li>
                <li><a href="notification.html">Notification</a></li>
              </ul>                        
            </li>
            <li>
              <a href="#">Portfolio</a>
              <ul>
                <li><a href="portfolio-col-2.html">Portfolio 2 Columns</a></li>
                <li><a href="portfolio-col-3.html">Portfolio 3 Columns</a></li>
                <li><a href="portfolio-col-4.html">Portfolio 4 Columns</a></li>
                <li><a href="portfolio-item.html">Portfolio Single</a></li>
              </ul>                        
            </li>  
            <li>
              <a href="#">Blog</a>
              <ul>
                <li><a href="sidebar-right.html">Sidebar Right</a></li>                     
                <li><a href="sidebar-left.html">Sidebar Left</a></li>
                <li><a href="sidebar-full.html">Full Width</a></li>   
                <li><a href="blog-single.html">Single Post</a></li>
                <li><a href="blog-grids.html">Blog Grids</a></li>
              </ul>                        
            </li>              
            <li>
              <a href="#">Contact Us</a>
              <ul>
                <li><a href="contact1.html">Contact us 1</a></li>
                <li><a href="contact2.html">Contact us 2</a></li>
              </ul>                        
            </li>  
          </ul>
          <!-- Mobile Menu End -->
        </div>
      </nav>

      <!-- Main Carousel Section -->
      <div id="carousel-area">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-slider" data-slide-to="1"></li>
            <li data-target="#carousel-slider" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner carousel-two">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../assets/img/slider/Carousel1.jpg" alt="">
              <div class="carousel-caption text-left">
                <h2 class="fadeInLeft wow" data-sppb-wow-delay="1.2s">
                  BACTERIAL ASSEMBLAGES  <br> AND IDENTITY LIBRARY ONLINE
                </h2>
                <p class="fadeInLeft wow" data-sppb-wow-delay="1.2s">BASILIO is a browser for Microbiota across different and supports research in Microbiology, Taxonomy and Genomics. BASILIO contains listing of microorganisms found in the gut and feces of animals identifiedthru culture-dependent and culture-indepedent techniques. <br> With BASILIO access for researchers related to fecal microbiome, their roles
                in the host system and their potential application can be accessed. Web tools included in this site offer versatility and quick access to DNA sequences, and phenotypic and chemotaxonomic information. Data on fecal microbiota are obtained from published journals accessible online (NCBI PUBMED, ELSEVIER, SCIENCE DIRECT). </p>
                
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/slider/Carousel2.jpg" alt="">
              <div class="carousel-caption text-left">
                <h2 class="fadeInUp wow" data-sppb-wow-delay="1.2s">
                  Simply <br> Amazing Design.
                </h2>
                <p class="fadeInUp wow" data-sppb-wow-delay="1.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illo <br> consequuntur ipsa cum placeat laboriosam mollitia quia omnis quam culpa.</p>
                <a class="btn btn-lg btn-common fadeInUp wow" data-sppb-wow-delay="1.2s" href="#">
                 Learn More
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/slider/Carousel3.jpg" alt="">
              <div class="carousel-caption text-left">
                <h2 class="fadeInDown wow" data-sppb-wow-delay="1.2s">
                  Multi-purpose <br> HTML5 Template.
                </h2>
                <p class="fadeInDown wow" data-sppb-wow-delay="1.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illo <br> consequuntur ipsa cum placeat laboriosam mollitia quia omnis quam culpa.</p>
                <a class="btn btn-lg btn-common fadeInDown wow" data-sppb-wow-delay="1.2s" href="#">
                 Learn More
                </a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
            <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
            <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>     
    </header>
    <!-- Header-wrap Section End -->
   
    <!-- Service Block-1 Section -->
    <section id="service-block-main" class="section">
      <!-- Container Starts -->
      <div class="container">
        <h1 class="section-title wow fadeIn animated" data-wow-delay=".2s">
        Welcome to BASILIO
        </h1>
        <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
        <div class="row">  
          <div class="col-sm-6 col-lg-4 col-md-6 col-xs-12">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item mb-4 wow fadeInUpQuick animated" data-wow-delay=".3s">
              <div class="icon-wrapper">
                <i class="fa fa-code">
                </i>
              </div>
              <h2>
                Pixel-perfect Code
              </h2>
              <p>
                Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam.
              </p>
            </div>
            <!-- Service-Block-1 Item Ends -->
          </div>

          <div class="col-sm-6 col-lg-4 col-md-6 col-xs-12">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item mb-4 wow fadeInUpQuick animated" data-wow-delay=".6s">
              <div class="icon-wrapper">
                <i class="fa fa-line-chart">
                </i>
              </div>
              <h2>
                SEO-Friendly
              </h2>
              <p>
                Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam.
              </p>
            </div>
            <!-- Service-Block-1 Item Ends -->
          </div>

          <div class="col-sm-6 col-lg-4 col-md-6 col-xs-12">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item mb-4 wow fadeInUpQuick animated" data-wow-delay="0.9s">
              <div class="icon-wrapper">
                <i class="fa fa-tint">
                </i>
              </div>
              <h2>
                Color Palettes
              </h2>
              <p>
                Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam.
              </p>
            </div>
            <!-- Service-Block-1 Item Ends -->
          </div>

          <div class="col-sm-6 col-lg-4 col-xs-12">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item mb-4 wow fadeInUpQuick animated" data-wow-delay="1.2s">
              <div class="icon-wrapper">
                <i class="fa fa-wrench">
                </i>
              </div>
              <h2>
                Free Support & Updates
              </h2>
              <p>
                Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam.
              </p>
            </div>
          </div>
          <!-- Service-Block-1 Item Ends -->
          <div class="col-sm-6 col-lg-4 col-md-6 col-xs-12">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item mb-4 wow fadeInUpQuick animated" data-wow-delay="1.2s">
              <div class="icon-wrapper">
                <i class="fa fa-envelope-o">
                </i>
              </div>
              <h2>
                Working Contact Form
              </h2>
              <p>
                Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam.
              </p>
            </div>
          </div>
          <!-- Service-Block-1 Item Ends -->
          <div class="col-sm-6 col-lg-4 col-md-6 col-xs-12">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item mb-4 wow fadeInUpQuick animated" data-wow-delay="1.2s">
              <div class="icon-wrapper">
                <i class="fa fa-paint-brush">
                </i>
              </div>
              <h2>
                Clean & Professional Design
              </h2>
              <p>
                Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio dapibus ac facilisis in egestas eget quam.
              </p>
            </div>
          </div>
          <!-- Service-Block-1 Item Ends -->
        </div>
      </div><!-- Container Ends -->
    </section><!-- Service Main Section Ends -->

    <!-- About Us Section Start -->
    <section class="split section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="images">
              <img src="assets/img/about/plain-why-choose-us-2.png" alt="">
            </div>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="content-inner">
              <h2 class="title">Built-With Bootstrap4, A New Exprience</h2>
              <p class="lead">We Crafted an awesome design library that is robust and intuitive to use. No matter you're building a business presentation websit or a complex web application our design blocks can easily be adapted for your needs.</p>
              <div class="details-list">
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <h3>Minimal Coding</h3>
                    <p>The design blocks come with ready to use HTML colde which makes the design kit suitable for developers and designers of all skill levels.</p>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <h3>Responsive</h3>
                    <p>Your website will look good on any device. Each design block has been individually tested on desktop. tablets and smartphones.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- About Us Section Ends --> 

    <!-- Featured Section Starts -->
    <section id="featured" class="section">
      <!-- Container Starts -->
      <div class="container">
        <h1 class="section-title wow fadeInUpQuick">
        Core Features
        </h1>
        <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
        <div class="row">          
          <!-- Start Service Icon 1 -->
          <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUpQuick" data-wow-delay=".2s" data-animation="fadeIn" data-animation-delay="01">
            <div class="featured-box feature-s">
              <div class="featured-icon">
                <i class="icon-present">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                  Tons of shortcodes
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
          <!-- Start featured Icon 1 -->
          <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUpQuick" data-wow-delay=".4s" data-animation="fadeIn" data-animation-delay="01">
            <div class="featured-box feature-s">
              <div class="featured-icon">
                <i class="icon-rocket">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                  Endless posibilites
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
          <!-- Start featured Icon 1 -->
          <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUpQuick" data-wow-delay=".6s" data-animation="fadeIn" data-animation-delay="01">
            <div class="featured-box feature-s">
              <div class="featured-icon">
                <i class="icon-pencil">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                  24/7 Support
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
          <!-- Start featured Icon 1 -->
          <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUpQuick" data-wow-delay=".8s" data-animation="fadeIn" data-animation-delay="01">
            <div class="featured-box feature-s">
              <div class="featured-icon">
                <i class="icon-diamond icon-large icon-effect">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                  Great Ideas
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
          <!-- Start featured Icon 1 -->
          <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUpQuick" data-wow-delay="1s" data-animation="fadeIn" data-animation-delay="01">
            <div class="featured-box feature-s">
              <div class="featured-icon">
                <i class="icon-settings">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                  Perfect Coding
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
          <!-- Start featured Icon 1 -->
          <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUpQuick" data-wow-delay="1.2s" data-animation="fadeIn" data-animation-delay="01">
            <div class="featured-box feature-s">
              <div class="featured-icon">
                <i class="icon-star">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                  Unique Design
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Featured Section Ends -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
      <!-- Container Starts -->
      <div class="container">
        <h1 class="section-title wow fadeInUpQuick" data-wow-delay=".3s">
          Our Professional Work
        </h1>
        <p class="section-subcontent wow fadeInUpQuick" data-wow-delay=".4s">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
        <div class="row">          
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                All 
              </a>
              <a class="filter btn btn-common" data-filter=".branding">
                Branding 
              </a>
              <a class="filter btn btn-common" data-filter=".marketing">
                Marketing
              </a>
              <a class="filter btn btn-common" data-filter=".planning">
                Planning 
              </a>
              <a class="filter btn btn-common" data-filter=".research">
                Research 
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="assets/img/portfolio/img1.jpg" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix branding planning">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="assets/img/portfolio/img2.jpg" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix branding research">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="../../assets/img/portfolio/img3.jpg" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing research">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="../../assets/img/portfolio/img4.jpg" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="../../assets/img/portfolio/img5.jpg" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning research">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="../../assets/img/portfolio/img6.jpg" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-link"></i></a>
                        <a class="right-link" href="#"><i class="icon-heart"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>TITLE HERE</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
          </div>
         <div class="col-md-12">
            <!-- End Portfolio Recent Projects -->
            <div class="text-center loadmore-button wow fadeInUpQuick" data-wow-delay=".6s">
              <a href="#" class="btn btn-common"><i class="fa fa-arrows"></i> Show More</a>
            </div>
         </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->        
      
    <!-- Pricing Table Section -->
    <section id="pricing" class="section">
      <div class="container">
        <h1 class="section-title wow fadeInUpQuick" data-wow-delay=".2s">
          Our Pricing
        </h1>
        <p class="section-subcontent wow fadeInUpQuick" data-wow-delay=".3s">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
        <div class="row">	    		
          <div class="col-md-4">
            <div class="pricing-table pricing-table-x">
              <div class="table-header">
                <h3>
                  Single Website
                </h3>
              </div>
              <div class="plan">
                <h3 class="price">
                  $49
                </h3>
              </div>
              <div class="plan-info">
                <p>
                 <i class="fa fa-check"></i>
                 1 domains
                </p>
                <p>
                  <i class="fa fa-check"></i>
                 	1 developer
                </p>
                <p>
                  <i class="fa fa-check"></i>
                 	Minified source code
                </p>
                <p>
                  <i class="fa fa-check"></i>
                 	Free updates forever
                </p>
                <div class="button-area">
                  <a href="#" class="btn btn-common">
                    Get Started
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="pricing-table pricing-table-x">
              <div class="table-header highlight">
                <h3>
                  Developer
                </h3>
              </div>
              <div class="plan">
                <h3 class="price">
                  $79
                </h3>
              </div>
              <div class="plan-info">
                <p>
                 <i class="fa fa-check"></i>
                 Unlimited domains
                </p>
                <p>
                  <i class="fa fa-check"></i>
                 	1 developer
                </p>
                <p>
                  <i class="fa fa-check"></i>
                 	Unlimited source code
                </p>
                <p>
                  <i class="fa fa-check"></i>
                 	Free updates forever
                </p>
                <div class="button-area">
                  <a href="#" class="btn btn-common">
                    Buy Now
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4 wow">
            <div class="pricing-table pricing-table-x">
              <div class="table-header">
                <h3>
                  Business
                </h3>
              </div>
              <div class="plan">
                <h3 class="price">
                  $159
                </h3>
              </div>
              <div class="plan-info">
                <p>
                  <i class="fa fa-check"></i>
                 	Unlimited domains
                </p>
                <p>
                  <i class="fa fa-check"></i>
                 	Unlimited developer
                </p>
                <p>
                  <i class="fa fa-check"></i>
                 	Unlimited source code
                </p>
                <p>
                  <i class="fa fa-check"></i>
                 	Free updates forever
                </p>
                <div class="button-area">
                  <a href="#" class="btn btn-common">
                    Buy Now
                  </a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!-- Pricing Table  End -->    

    <!-- Team Section -->
    <section id="team" class="section">
      <!-- Container Starts -->
      <div class="container">  
          <h1 class="section-title wow fadeInUpQuick">
            Meet Our Team
          </h1>
          <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>      
        <!-- Row Starts -->
        <div class="row">					
          <div class="col-sm-6 col-md-3">
	          <!-- Team Item Starts -->
	        	<div class="team-item wow fadeInUpQuick" data-wow-delay="1s">
	            <figure class="team-profile">
	              <img src="../../assets/img/team/team-01.jpg" alt="">
	              <figcaption class="our-team">
	                <div class="details">
	                	<p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		               <div class="orange-line"></div>
		               <div class="social"> 
			               <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> 
			               <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> 
			               <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
		               </div>
	                </div>
		            </figcaption>
	            </figure>
	            <div class="info">
	              <h2>
	                Sara smith
	              </h2>
	              <div class="orange-line"></div>
	              <p>
	                Founder And ceo
	              </p>
	            </div>
	          </div>
	          <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-3">
          	<!-- Team Item Starts -->
            <div class="team-item wow fadeInUpQuick" data-wow-delay="1.4s">
             <figure class="team-profile">
	               <img src="../../assets/img/team/team-02.jpg" alt="">
	              <figcaption class="our-team">
	                <div class="details">
	                	<p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		               <div class="orange-line"></div>
		               <div class="social"> 
			               <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> 
			               <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> 
			               <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
		               </div>
	                </div>
		            </figcaption>
	            </figure>
	            <div class="info">
	              <h2>
	                Sommer Christian
	              </h2>
	              <div class="orange-line"></div>
	              <p>
	                creative studio head
	              </p>
	            </div>
            </div><!-- Team Item Starts -->
          </div>

          <div class="col-sm-6 col-md-3">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUpQuick" data-wow-delay="1.8s">
              <figure class="team-profile">
	                <img src="../../assets/img/team/team-03.jpg" alt="">
	              <figcaption class="our-team">
	                <div class="details">
	                	<p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		               <div class="orange-line"></div>
		               <div class="social"> 
			               <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> 
			               <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> 
			               <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
		               </div>
	                </div>
		            </figcaption>
	            </figure>
	            <div class="info">
	              <h2>
	                Jane lupkin
	              </h2>
	              <div class="orange-line"></div>
	              <p>
	                magento developer
	              </p>
	            </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          
          <div class="col-sm-6 col-md-3">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUpQuick" data-wow-delay="2.2s">
              <figure class="team-profile">
	              <img src="../../assets/img/team/team-04.jpg" alt="">
	              <figcaption class="our-team">
	                <div class="details">
	                	<p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		               <div class="orange-line"></div>
		               <div class="social"> 
			               <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> 
			               <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> 
			               <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
		               </div>
	                </div>
		            </figcaption>
	            </figure>
	            <div class="info">
	              <h2>
	                Sebastian roll
	              </h2>
	              <div class="orange-line"></div>
	              <p>
	                Logo / branding designer
	              </p>
	            </div>
            </div><!-- Team Item Ends -->
          </div>          
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>
    <!-- Team Section End -->
    
    <!-- Cool Facts Section -->
    <section id="cool-facts" class="section">
      <!-- Container Starts -->
      <div class="container">      
        <!-- Row Starts -->
        <div class="row">	        
          <div class="col-sm-6 col-md-3 col-lg-3">
            <!-- Fact Block Starts -->
            <div class="fact-block clearfix wow fadeInUp" data-wow-delay="0.3s">
              <div class="facts-item">
								<i class="icon-trophy"></i>
								<div class="fact-count">
									<h3><span class="counter">40</span>+</h3>
									<h4>Awards won</h4>
								</div>
							</div>
            </div><!-- Fact Block Ends -->
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <!-- Fact Block Starts -->
            <div class="fact-block clearfix wow fadeInUp" data-wow-delay="0.6s">
              <div class="facts-item">
								<i class="icon-heart"></i>
								<div class="fact-count">
									<h3><span class="counter">300</span>+</h3>
									<h4>Happy clients</h4>
								</div>
							</div>
            </div><!-- Fact Block Ends -->
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <!-- Fact Block Starts -->
            <div class="fact-block clearfix wow fadeInUp" data-wow-delay="0.9s">
              <div class="facts-item">
								<i class="icon-ghost"></i>
								<div class="fact-count">
									<h3><span class="counter">200</span>+</h3>
									<h4>Fun Facts</h4>
								</div>
							</div>
            </div><!-- Fact Block Ends -->
          </div>
           <div class="col-sm-6 col-md-3 col-lg-3">
            <!-- Fact Block Starts -->
            <div class="fact-block clearfix wow fadeInUp" data-wow-delay="1.2s">
              <div class="facts-item">
								<i class="icon-picture"></i>
								<div class="fact-count">
									<h3><span class="counter">1700</span>+</h3>
									<h4>Exhibitions</h4>
								</div>
							</div>
            </div><!-- Fact Block Ends -->
          </div>
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>
    <!-- Cool Facts Section End -->
    
    <!-- Testimonial Section -->
    <section id="testimonial" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="testimonial-item" class="owl-carousel">
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="../../assets/img/testimonial/img1.jpg" alt="">
                    <h4>
                      Steve Austin <span><a href="#">envato.com </a></span>
                    </h4>
                  </div>
                  <div class="rating-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="../../assets/img/testimonial/img2.jpg" alt="">
                    <h4>
                      Chelsey Siltanen <span><a href="#">Microsoft</a></span>
                    </h4>
                  </div>
                  <div class="rating-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img3.jpg" alt="">
                    <h4>
                      Pamela Fox <span><a href="#">Khan Academy</a></span>
                    </h4>
                  </div>
                  <div class="rating-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="./../assets/img/testimonial/img4.jpg" alt="">
                    <h4>
                      janna Hagan<span><a href="#">Google</a></span>
                    </h4>
                  </div>
                  <div class="rating-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="../../assets/img/testimonial/img5.jpg" alt="">
                    <h4>
                      Paul Tweedy<span><a href="#">BBC</a></span>
                    </h4>
                  </div>
                  <div class="rating-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Container Ends -->
    </section>
    <!-- Testimonial Section End -->                

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">  
        <h1 class="section-title wow fadeInUpQuick">
          The Blog
        </h1>
        <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>     
        <!-- Row Starts -->
        <div class="row">          
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="#">
                  <img src="../../assets/img/blog/home-items/img1.jpg" alt="">
                </a>   
              </div>
              <div class="blog-item-text">
                <h3 class="small-title"><a href="#">Amazing Blog Post One</a></h3>
                <p>
                  Lorem ipsum dolor sit amet, adipisicing elit. Eos rerum dolorum, est voluptatem modi accusantium perspiciatis ...
                </p>
                <div class="blog-one-footer">
                 	<a href="#">Read More</a>
									<a href="#"><i class="icon-heart"></i> 59 Likes</a>
									<a href="#"><i class="icon-bubbles"></i> 120 Comments</a>                  
                </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- Blog Item Wrapper Start-->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="#">
                  <img src="../../assets/img/blog/home-items/img2.jpg" alt="">
                </a>
              </div>
              <div class="blog-item-text">
                <h3 class="small-title"><a href="#">Amazing Blog Post One</a></h3>
                <p>
                   Lorem ipsum dolor sit amet, adipisicing elit. Eos rerum dolorum, est voluptatem modi accusantium perspiciatis ...
                </p>
                
                <div class="blog-one-footer">
                 	<a href="#">Read More</a>
									<a href="#"><i class="icon-heart"></i> 59 Likes</a>
									<a href="#"><i class="icon-bubbles"></i> 120 Comments</a>                  
                </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>          
          
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- Blog Item Wrapper Starts-->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="#">
                  <img src="../../assets/img/blog/home-items/img3.jpg" alt="">
                </a>
              </div>
              <div class="blog-item-text">
               	<h3 class="small-title"><a href="#">Amazing Blog Post One</a></h3>
                <p>
                   Lorem ipsum dolor sit amet, adipisicing elit. Eos rerum dolorum, est voluptatem modi accusantium perspiciatis ...
                </p>
                <div class="blog-one-footer">
                 	<a href="#">Read More</a>
									<a href="#"><i class="icon-heart"></i> 59 Likes</a>
									<a href="#"><i class="icon-bubbles"></i> 120 Comments</a>                  
                </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>
    <!-- blog Section End -->

    <!-- Clients Section -->
    <section id="clients" class="section">
      <!-- Container Ends -->
      <div class="container">
        <h1 class="section-title wow fadeInUpQuick" data-wow-delay=".5s">
          Clients
        </h1>
        <p class="section-subcontent">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
        <div class="wow fadeInUpQuick" data-wow-delay="0.3s">
          <!-- Row and Scroller Wrapper Starts -->
          <div class="row" id="clients-scroller">
            <div class="client-item-wrapper">
              <img src="../../assets/img/clients/img1.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="../../assets/img/clients/img2.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="../../assets/img/clients/img3.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="../../assets/img/clients/img4.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="../../assets/img/clients/img5.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="../../assets/img/clients/img6.png" alt="">
            </div>
          </div><!-- Row and Scroller Wrapper Starts -->
        </div>
      </div><!-- Container Ends -->
    </section>
    <!-- Client Section End -->        
    
    <!-- Footer Section -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    <!-- Footer Section End-->
    
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up">
      </i>
    </a> 

    <!-- JavaScript & jQuery Plugins -->
    <% include ../partials/inspect-let %>

  </body>
</html>