<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../utils/user-partials/head %>
  </head>
  <body>

    <!-- Header area wrapper starts -->
    <header id="header-wrap">      
      <!-- Navbar Starts -->
      <% include ../utils/user-partials/navbar %>

          <!-- Mobile Menu Start -->
          <ul class="wpb-mobile-menu">
            <li>
              <a href="index.html">Home</a> 
              <ul>
                <li><a href="index.html">Home V1</a></li>
                <li><a href="index-2.html">Home V2</a></li>
              </ul>   
            </li>
            <li>
              <a class="active" href="#">Pages</a>
              <ul>
                <li><a href="about-us.html">About Us</a></li>                     
                <li><a href="about-us2.html">About Us 2</a></li>
                <li><a href="team-page.html">Team Members</a></li>                      
                <li><a href="services.html">Services</a></li> 
                <li><a href="service2.html">Services 2</a></li> 
                <li><a href="contact1.html">Contact Us</a></li> 
                <li><a href="contact1.html">Contact Us 2</a></li> 
                <li><a class="active" href="pricing.html">Pricing</a></li> 
                <li><a href="404.html">404</a></li>
              </ul>                        
            </li>
            <li>
              <a href="#">Shortcodes</a>
              <ul>
                <li><a href="accordions.html">Accordions</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="skills.html">Progress Bars</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="clients.html">Clients</a></li>
                <li><a href="icon.html">Icon Boxes</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="carousel.html">Carousel</a></li>
                <li><a href="maps.html">Google Maps</a></li>
                <li><a href="pricing.html">Pricing tables</a></li>
                <li><a href="notification.html">Notification</a></li>
              </ul>                        
            </li>
            <li>
              <a href="#">Portfolio</a>
              <ul>
                <li><a href="portfolio-col-2.html">Portfolio 2 Columns</a></li>
                <li><a href="portfolio-col-3.html">Portfolio 3 Columns</a></li>
                <li><a href="portfolio-col-4.html">Portfolio 4 Columns</a></li>
                <li><a href="portfolio-item.html">Portfolio Single</a></li>
              </ul>                        
            </li>  
            <li>
              <a href="#">Blog</a>
              <ul>
                <li><a href="sidebar-right.html">Sidebar Right</a></li>                     
                <li><a href="sidebar-left.html">Sidebar Left</a></li>
                <li><a href="sidebar-full.html">Full Width</a></li>   
                <li><a href="blog-single.html">Single Post</a></li>
                <li><a href="blog-grids.html">Blog Grids</a></li>
              </ul>                        
            </li>              
            <li>
              <a href="#">Contact Us</a>
              <ul>
                <li><a href="contact1.html">Contact us 1</a></li>
                <li><a href="contact2.html">Contact us 2</a></li>
              </ul>                        
            </li>  
          </ul>
          <!-- Mobile Menu End -->
        </div>
      </nav>
    </header>
    <!-- Header-wrap Section End -->

    <!-- Page Header -->
    <div class="page-header-section">
      <div class="container">
        <div class="row">
          <div class="page-header-area">
            <div class="page-header-content">
              <h2>What are Microbiota</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <section class="pricing-table-section">
      <div id="pricing">
        <div class="container section">
          <h1 class="section-title wow fadeInUpQuick animated" style="visibility: visible;">
          MICROBIOTA
          </h1><br>
          <p class="section-subcontent">Microbiota grow upon and attach to any surface immersed or growing in water. The succession of microorganisms upon a surface is complex and involves adsorption of organic substances to the surfaces and attachment of microorganisms in sequence. Usually bacteria attach first followed by algae, cyanobacteria, and protists. Extracellular mucilaginous materials, also referred to as exopolysaccharides or exopolymer secretions (EPS), often occur as coatings around individual microbial cells or projections from cells. Ultimately this material forms a matrix inhabited by a variety of microorganisms, particularly bacteria, algae, protists, and fungi.</p><br><br><br>
        </div>
      </div>
    </section>

    <!-- Pricing Table 2 -->
    <section class="section pricing2-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 wow fadeIn" data-wow-delay="0.3s">
            <h1 class="section-title">TYPES OF MICROBIOTA</h1><br>   
          </div>
          <!-- Basic -->
          <div class="col-md-4 pricing-table2">
            <div class="single-pricing-2">
              <span class="plan-name text-center">
                BACTERIA
                <small>Daily Plan</small>
              </span>
              <p class="plan-price"><sup class="currency">$</sup><strong>49</strong><sub>.99</sub></p>
              <ul class="list-unstyled">
                <li>1 Hosting Account</li>
                <li>1 Domain account</li>
                <li>SSL Shopping Cart</li>
                <li>24/7 Live Support</li>
              </ul>
              <div class="pricing2-button">
                <a href="#" class="btn btn-common"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
              </div>
          </div>
          <!-- Professional -->
          <div class="col-md-4 pricing-table2 featured">
            <div class="single-pricing-2">
              <span class="plan-name text-center">
                FUNGI
                <small>Monthly Plan</small>
              </span>
              <p class="plan-price"><sup class="currency">$</sup><strong>170</strong><sub>.99</sub></p>
              <ul class="list-unstyled">
                <li>5 Hosting Account</li>
                <li>10 Domain account</li>
                <li>SSL Shopping Cart</li>
                <li>24/7 Live Support</li>
              </ul>
              <div class="pricing2-button">
                <a href="#" class="btn btn-common"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
              </div>
          </div>
          <!-- Premium -->
          <div class="col-md-4 pricing-table2 premium">
            <div class="single-pricing-2">
              <span class="plan-name text-center">
                VIRUSES
                <small>Yearly Plan</small>
              </span>
              <p class="plan-price"><sup class="currency">$</sup><strong>549</strong><sub>.99</sub></p>
              <ul class="list-unstyled">
                <li>100 Hosting Account</li>
                <li>10 Domain account</li>
                <li>SSL Shopping Cart</li>
                <li>24/7 Live Support</li>
              </ul>
              <div class="pricing2-button">
                <a href="#" class="btn btn-common"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Pricing Table 2 End -->

    <!-- Footer Section -->
    <footer>
      <% include ../utils/user-partials/footer %>
    </footer>
    <!-- Footer Section End-->
    
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up">
      </i>
    </a>
    
    <!-- JavaScript & jQuery Plugins -->
    <% include ../utils/user-partials/inspect-let %>
 
  </body>
</html>